.slider-wrapper.theme-nivo
    #slider.nivoSlider
        = image_tag('slideshow/image-slider.png', title: "<p>Manejamos productos únicamente de la más alta calidad para cumplir con los estándares requeridos.</p>")
        = image_tag('slideshow/image-slider2.png', title: "<p>Contamos con los cortes de carne mejor conocidos para que los disfrutes con tu familia.</p>")
        = image_tag('slideshow/image-slider3.png', title: "<p>Te ofrecemos productos de la más alta calidad importados y nacionales.</p>")
        = image_tag('slideshow/image-slider4.png', title: "<p>Contamos con servicio para hoteles y restaurantes de Cancún, Riviera Maya y Cozumel</p>")