= image_tag('bak-construccion.jpg')
%h3 Estamos en construcción
%p Central de Abastos, 459 77560 Cancún, Q. Roo México
.mail
	%small{ :style => 'font-size: 18px;' }
		Tel: (+998) 886-2155 <br>
		= mail_to 'informacion@bakcarnes.com'