= image_tag('bak-construccion.jpg')
%h3 Estamos en construcción
%p	
	Carretera Cancún Aeropuerto, Km. 17.5, Bodega 101, <br>
	Central de abastos, Alfredo V. Bonfil, Q. Roo, C.P. 77560
.mail
	Tel/Fax: (01 998) 886 21 55 <br>
	= mail_to 'informacion@bakcarnes.com'