#inicio
	#slideshow
		= render 'pages/slideshow'
	.shadow
	.bienvenida
		%h2 <span class ='highlighted'>Bienvenido </span>a Bak
	%p
		Somos una empresa que tiene como objetivo brindar el mejor servicio con abasto suficiente en productos seleccionados,
		brindando calidad y confianza a nuestros clientes. <br/><br/>
	%a.secciones(href=productos_path)
		= image_tag("productos.png")
		%h2.productos <span class ='highlighted'>Productos</span>
	%a.secciones(href=recetas_path)
		= image_tag("recetas bak.png")
	%a.secciones(href=contacto_path)
		= image_tag("pedidos.png")
		%h2.pedidos <span class ='highlighted'>Pedidos</span>
	.clear
	#certificados
		#certificado-m
			%p  Reconocimiento que otorga la Secretaría de Turismo. 
		#certificado-v
			%p Certificación de Coaching Organizacional.
		#certificado-us
			%p Calidad certificada por el Departamento de Agricultura de los Estados Unidos.
		.clear