#productos
	.encabezado
		%h1 <span class='highlighted'>Productos</span>
	%p
		<br/>Contamos con equipos nuevos de reciente adquisición 2012, para estar a la vanguardia y cumplir con las 
		especificaciones de temperatura que nuestros clientes requieren.<br/><br/>
	.res
		= image_tag 'productos/res.png'
		.accordionButton <span class='highlighted'>CARNE DE RES</span>
		.accordionContent
			%ul
				%li ARRACHERA MARINADA JUMBO
				%li ARRACHERA MARINADA PREMIUM
				%li BISTEK DE RES
				%li CHAMBERETE CON HUESO
				%li CHAMBERETE SIN HUESO
				%li COSTILLA CARGADA DE RES
				%li FALDA
				%li FILETE NACIONAL
				%li HAMBURGUESA 4/6/8 OZ.
				%li MOLIDA 80/20
				%li MOLLEJA
				%li NEW YORK NACIONAL PZA. BÁSICA
				%li NORTEÑITA
				%li PANZA LIMPIA
				%li PATA DE RES
				%li PULPA BOLA
				%li PULPA NEGRA
				%li RIB EYE NACIONAL PZA. BÁSICA
				%li SUADERO
				%li T’BONE NACIONAL PZA. BÁSICA
				%li TOP SIRLOIN NACIONAL PZA. BÁSICA
				%li TRIPA DE LECHE
		.accordionButton <span class='highlighted'>CORTES</span>
		.accordionContent
			%ul
				%li NEW YORK NACIONAL PORC. 350 GR.
				%li RIB EYE NACIONAL PORC. 350 GR.
				%li T'BONE PORCIONADO
		.accordionButton <span class='highlighted'>POLLO</span>
		.accordionContent
			%ul
				%li ALITAS 2 SECC. I.Q.F.
				%li ALITAS 2 SECC. I.Q.F. JUMBO
				%li ALITAS MARINADAS
				%li PECHUGA 1/2 MARIPOSA NACIONAL
				%li PECHUGA C/H
				%li PECHUGA CHILENA I.Q.F.
				%li PECHUGA MARIPOSA NACIONAL
				%li PIERNA Y MUSLO C/AMERICANO IQF
				%li PIERNA Y MUSLO C/ANATOMICO IQF
				%li POLLO ROSTICERO
	.cerdo
		= image_tag 'productos/cerdo.png'
		.accordionButton <span class='highlighted'>CARNE DE CERDO</span>
		.accordionContent
			%ul 
				%li BISTEK DE CERDO
				%li CABEZA DE CERDO
				%li CABEZA DE LOMO IMPORTADA
				%li CHAMORRO DE CERDO
				%li CHICHARRON CARNUDO
				%li CHICHARRON CASCARA
				%li CHICHARRON PRENSADO
				%li FILETE NACIONAL
				%li CHORIZO
				%li CHULETA AHUMADA
				%li CHULETA NATURAL
				%li COSTILLA BACK RIB
				%li COSTILLA CORBATA IMPORTADA
				%li COSTILLA PORCIONADA
				%li COSTILLA RASURADA
				%li COSTILLA SPARE RIB
				%li ENTRECOT AHUMADO
				%li ESPALDILLA
				%li FILETE
				%li MANITAS CERDO
				%li MOLIDA DE CERDO
				%li PASTOR
				%li PIERNA CON HUESO Y PIEL
				%li PIERNA EN CUBOS
				%li PIERNA SIN HUESO
				%li TOCINO
		.accordionButton <span class='highlighted'>PAVO</span>
		.accordionContent
			%ul
				%li PAVO NATURAL ENTERO
		.accordionButton <span class='highlighted'>OTROS</span>
		.accordionContent
			%ul
				%li ACEITE 100% DE SOYA KINK FRY 20 LTS.
				%li ACEITE VEGETAL TREBOL 20 LTS.
				%li PEPERONI REBANADO
				%li QUESO ELAT
				%li QUESO GOUDA
				%li QUESO PIZZERO CUBICADO
	.clear