#productos
	.encabezado
		%h1 <span class='highlighted'>Productos</span>
	%p
		Contamos con equipos nuevos de reciente adquisición 2012, para estar a la vanguardia y cumplir con las 
		especificaciones de temperatura que nuestros clientes requieren.
