#recetas
	.encabezado
		%h1 <span class='highlighted'>Recetas </span>Bak
	.salpicon
		%p.titulo SALPICON DE RES
		= image_tag 'recetas/salpicon de res.jpg'
		%p.titulo INGREDIENTES:
		%ul
			%li 1 kilo de falda de res cocida y deshebrada
			%li 1 lechuga rebanada
			%li 2 jitomates en gajos
			%li 1 cebolla rebanada
			%li 150 gramos de queso añejo en tiritas
			%li Chiles chipotles en adobo
			%li Vinagre, sal y pimienta
			%li Aguacate
			%li Cilantro picado
			%li Aceite de oliva
		%p.titulo PREPARACIÓN:
		%p
			Mezcla todos los ingredientes y adereza con el aceite de oliva y el vinagre. Luego sala y pimienta. Tengamos 
			en cuenta que la falda ya está cocida y deshebrada. Antes de servir, decora un platón con rebanadas de 
			jitomate, queso y aguacate.
	.carne
		%p.titulo CARNE DE CERDO
		= image_tag 'recetas/carne de cerdo en adobo.jpg'
		%p.titulo INGREDIENTES:
		%ul
			%li 1,5 L. deAceite de OlivaVirgen Extra
			%li 2 Kg. de carne de cervo limpia
			%li 1 cabeza de ajos
			%li 2 hojas de laurel
			%li Un poquito de orégano
			%li Sal
		%p.titulo PREPARACIÓN:
		%p
			Una vez lavada y troceada la carne, se echa en un recipiente con agua. En un mortero se machacan los ajos y 
			se le añaden a la carne, junto con la sal y el orégano. Se mezcla todo muy bien y se deja reposar la carne 
			con el adobo de 24 a 48 horas. <br/><br/>
			Una vez reposada bien la carne, en una sartén se echa elaceitede oliva, la carne y las dos hojas de laurel. 
			Se pone todo a freír a fuego lento hasta que la carne esté tierna.
	.clear