#quienes_somos
	.encabezado
		%h1 <span class='highlighted'>Quiénes</span> Somos

	.somos_accordion
		.accordionButton <span class='highlighted'>MISIÓN</span>
		.accordionContent
			%p
				Somos una empresa dedicada a la comercialización de productos cárnicos de calidad, enfocados al mercado 
				Hotelero, restaurantero, distribuidores y público en general. Contamos con personal altamente comprometido 
				con el servicio para todos nuestros clientes internos y externos, así como herramientas y equipos de trabajo
				que cumplen los estándares de calidad requeridos. Conduciéndonos en todo momento con respeto e importancia 
				que se le debe a nuestros clientes proveedores y colaboradores.
		.accordionButton <span class='highlighted'>VISIÓN</span>
		.accordionContent
			%p
				Somos una empresa de gran prestigio en el mercado de la carne, por nuestros estándares de calidad, sanidad 
				y servicio, renovándonos en todo momento a traves de una mejora continua para ser la mejor opción entre los 
				consumidores.
		.accordionButton <span class='highlighted'>VALORES</span>
		.accordionContent
			%p
				<b>Honestidad:</b> Es comportarme y expresarme con coherencia y sinceridad de acuerdo con los valores de verdad y 
				de justicia. En su sentido más evidente.<br/><br/>

				<b>Disciplina:</b> Actuaré ordenada y perseverantemente para conseguir un bien; me exigiré con orden los 
				lineamientos para poder lograr más rápidamente objetivos y deseos, soportando las molestias que esto pudiera 
				ocasionar. <br/><br/>
				 
				<b>Excelencia:</b> Trabajando con esta, obtendré la calidad superior que distingue a las personas,  las cosas 
				haciéndolas dignas de singular aprecio y estimación, hecho que provee de gran energía y entusiasmo y amor.<br /><br/>
				 
				<b>Compromiso:</b> Me comprometo a ser responsable en todo, cuando me entusiasme y disfrute hacerlo, o  de lo 
				contrario, sabiamente lo resolveré para beneficio mío y de los demás.<br/><br/>
				 
				<b>Enfoque:</b> Fijo mi atención en objetivos uno a la vez utilizando todos los recursos a mi alcance para 
				resolverlos en bien del trabajo en quipo y el servicio al cliente. <br/><br/>
				 
				 
				<b>Integridad:</b> Vivo en concordancia con mi estado de vida más elevado, soy  confiable, recto, bondadoso, 
				honrado, intachable, lo que digo eso es sin mezclas extrañas, que con gran valor al hacer una promesa, 
				tendré la firme intención de cumplirla. <br/><br/>
				 
				<b>Visión:</b> Hoy construyo nuestro punto en el horizonte que me dota de energía voluntad y certeza, sabiendo que 
				mi capacitación, contribución y renovación constante me hacen llegar a la meta. 
	.clear