@import "variables.css.scss";

/* Estilos globales */
body{
	min-width: 985px;
	margin: 0 auto;
	font-family: delicious, Arial, Helvetica, sans-serif;
	font-size: 19px;
	text-align: justify;
}
h1, h2, h3, h4, h5, h6{
	font-family: myfont, serif;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.6);
	color: #7d1d2a;
}
p{
	text-align: justify;
	color: #777;
}
a{
	color: #eacfa0;
	text-decoration: none;
	&:hover{
		color: white;
	}
}

/* Sección Inicio */
#inicio{
	#slideshow{
		width: 940px;
		height: 352px;
		margin: 0 auto;
		border-bottom-style:solid;
		border-bottom-width:13px;
		border-bottom-color: #7E1C29;
		background-image: url('slideshow/slider-deco.png');
		background-position: 100px center;
		background-repeat: no-repeat;
	}
	.shadow{
		width: 958px;
		height: 56px;
		background-image: url('slideshow/shadow.png');
		background-position: 0px -56px;
	}
	.bienvenida{
		width: 470px;
		margin: -40px auto 0;
		text-align: center;
		background-image: url(deco-title-left.png), url(deco-title-right.png);
		background-position: left center, right center;
		background-repeat: no-repeat;
	}
	.secciones{
		float:left;
		width: 310px;
		height: 198px;
		h2.productos{
			position: relative;
			top: -90px;
			left: 80px;
		}
		h2.pedidos{
			position: relative;
			top: -89px;
			left: 100px;
		}
		@include transition(0.2s);
		&:hover{
			@include scale(0.99);
		}
	}
	#certificados{
		.certificado{
			background-color: #eee;
			height: 120px;
			p{
				float: left;
				width: 120px;
				text-align: left;
				margin-top: 30px;
				margin-left: 150px;
				font-size: 16px;
			}
			@extend .span1_3;
		}
		#certificado-m{
			float: left;
			width: 32%;
			background: url('certificado-m.jpg');
			background-repeat: no-repeat;
			background-position: 0px 2px;
			&:hover{
				background-position: 0px -116px;
			}
			@extend .certificado;
		}
		#certificado-v{
			float: left;
			width: 36%;
			background: url('certificado-v.jpg');
			background-repeat: no-repeat;
			&:hover{
				background-position: 0px -120px;
			}
			p{
				margin-left: 210px;
			}
			@extend .certificado;
		}
		#certificado-us{
			float: left;
			width: 32%;
			background: url('certificado-us.jpg');
			background-repeat: no-repeat;
			&:hover{
				background-position: 0px -120px;
			}
			@extend .certificado;
		}
	}
}

.encabezado{
	width: 900px;
	height: 70px;
	margin: 0 auto;
	background-color: #fff0d1;
	padding-top: 40px;
	padding-left: 40px;
	@include linear-gradient(#fff0d1,#fff8e8);
	h1{
		margin: 0;
	}
	p{
		margin: 0;
	}
}
.somos_accordion{
	width: 960px;
	min-height: 120px;
	margin: 50px auto 30px;
	.accordionButton {
		width: 940px;
	}
	.accordionContent{
		width: 879px;
		padding: 20px 40px;
	}
}
.accordionButton {
	float: left;
	position:relative;
	z-index:1;
	width: 920px;
	height: 45px;
	padding: 0 10px;
	background-color: #7d1d2a;
	border-bottom: 1px solid white;
	cursor: pointer;
	@include linear-gradient(#570611,#7d1d2a);
	@include box-shadow((0px 2px 3px rgba(0,0,0,0.7)));
	span{
		display:block;
		height: 29px;
		padding-top: 16px;
		padding-left: 20px;
		background: url('down-arrow.png');
		background-repeat: no-repeat;
		background-position: center right;
	}
}
 
.accordionContent {	
	display: none;
	position:relative;
	float: left;
	background-color: #fff0d1;
	@include box-shadow((0px 2px 3px rgba(0,0,0,0.7)));
	@include linear-gradient(#ffe6ad,#fff5e0);
	font-size: 15px;
	p{
		color: #555;
		text-align: justify;
	}
}

#productos{
	p{
		padding: 10px;
	}
	.res{
		ul#partes-res{
			position: relative;
			width: 367px;
			height: 259px;
			margin: 0;
			padding: 0;
			background: url('productos/res.png');
			li{
				display: block; 
				position: absolute;
				margin: 0; 
				padding: 0; 
				list-style: none; 
				a{ 
					display: block;
					&:hover{
						background: url('productos/res.png');
						background-repeat: no-repeat;
					}
				}
			}
			li#espaldilla{
				width: 87px;
				height: 50px;
				top: 43px;
				left: 83px;
				a{ 
					height: 50px;
					&:hover{
						background-position: -47px -258px;
					}
				}
			}
			li#costilla{
				width: 63px;
				height: 43px;
				top: 50px;
				left: 164px;
				a{ 
					height: 43px;
					&:hover{
						background-position: -136px -266px;
					}
				}
			}
			li#lomo{
				width: 66px;
				height: 44px;
				top: 49px;
				left: 218px;
				a{ 
					height: 44px;
					&:hover{
						background-position: -199px -264px;
					}
				}
			}
			li#falda{
				width: 171px;
				height: 66px;
				top: 99px;
				left: 107px;
				a{ 
					height: 66px;
					&:hover{
						background-position: -77px -314px;
					}
				}
			}
			li#pierna{
				width: 60px;
				height: 122px;
				top: 43px;
				left: 279px;
				a{ 
					height: 122px;
					&:hover{
						background-position: -265px -264px;
					}
				}
			}
		}
		@extend .span1_2;
	}
	.cerdo{
		margin-top: 36px;
		ul#partes-cerdo{
			position: relative;
			width: 401px;
			height: 223px;
			margin: 0px 61px;
			padding: 0;
			background: url('productos/cerdo.png');
			li{
				display: block; 
				position: absolute;
				margin: 0; 
				padding: 0; 
				list-style: none; 
				a{ 
					display: block;
					&:hover{
						background: url('productos/cerdo.png');
						background-repeat: no-repeat;
					}
				}
			}
			li#lomo{
				width: 148px;
				height: 50px;
				top: 14px;
				left: 161px;
				a{ 
					height: 50px;
					&:hover{
						background-position: -140px -232px;
					}
				}
			}
			li#panceta{
				width: 130px;
				height: 50px;
				top: 66px;
				left: 173px;
				a{ 
					height: 50px;
					&:hover{
						background-position: -151px -284px;
					}
				}
			}
			li#aguja{
				width: 81px;
				height: 115px;
				top: 28px;
				left: 87px;
				a{ 
					height: 115px;
					&:hover{
						background-position: -49px -240px;
					}
				}
			}
			li#pierna{
				width: 64px;
				height: 112px;
				top: 18px;
				left: 306px;
				a{ 
					height: 112px;
					&:hover{
						background-position: -298px -231px;
					}
				}

			}
		}
		@extend .span1_2;
	}
	.accordionButton {
		width: 91%;
	}
	.accordionContent{
		width: 91%;
		padding: 20px 10px;
	}
	ul li{
		margin: 0 auto;
		color: #555;
	}
}

#recetas{
	color: #777;
	p{
		padding-right: 47px;
	}
	p.titulo{
		margin: 20px 0px;
		font-weight: bold;
	}
	.salpicon{
		@extend .span1_2;
	}
	.carne{
		@extend .span1_2;
	}
}

#contacto{
	color: #777;
	.formulario{
		margin-top: 10px;
		@extend .span1_2;
	}
	.informacion{
		li {
			display: block;
			height: 59px;
			margin-top: -9px;
			padding-left:50px;
			background-image:url('contacto/iconos.jpg');
			background-repeat: no-repeat;
		}
		li.tel{ background-position: 0px -6px }
		li.email{ background-position: 0px -65px }
		li.dir{ background-position: 0px -131px }
		@extend .span1_2;
	}
	#camioneta{
		margin-left: 27px;
	}
}

.clear{
	height: 40px;
	clear: both;
}