@mixin linear-gradient{
	background-image: linear-gradient(bottom, #570611 0%, #7d1d2a 58%);
	background-image: -o-linear-gradient(bottom, #570611 0%, #7d1d2a 58%);
	background-image: -moz-linear-gradient(bottom, #570611 0%, #7d1d2a 58%);
	background-image: -webkit-linear-gradient(bottom, #570611 0%, #7d1d2a 58%);
	background-image: -ms-linear-gradient(bottom, #570611 0%, #7d1d2a 58%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #570611,color-stop(0.58, #7d1d2a)));
}



body{
	margin: 0 auto;
	min-width: 940px;
	color: #7e1c29;
}
#content{
	width: 940px;
	margin: 0 auto;
}
.span3{
	float: left;
	width: 33.33%;
	h1{
		font-family: serif;
		font-size: 20px;
	}
}
.highlighted{
	color: #f2bc5a;
}
header{
	border-top: 15px solid #7d1d2a;
	text-align: center;
}
footer{
	background-color: #7d1d2a;
	border-width: 13px;
	border-style: solid none;
	border-top-color: rgba(0, 0, 0, 0.15);
	border-bottom-color: rgba(0, 0, 0, 0.55);
	height: 212px;
	width: 100%;
	padding-top: 35px;
	color: #eacfa0;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 25px;
	ul{
		margin-left: 0;
		padding-left: 0; 
		list-style-type: none;
	}
	a{
		color: #eacfa0;
		text-decoration: none;
		&:hover{
			color: white;
		}
	}
	@include linear-gradient;
}
.menu-footer{
	@extend .span3
}
.redes-sociales{
	li {
		margin-top: 27px;
		background-image:url('botones-redes.png');
		background-repeat: no-repeat;
		display: block;
		height: 30px;
		padding-left:40px;
	}
	li.fb{ background-position: 0px 0px }
	li.tw{ background-position: 0px -30px }
	@extend .span3
}
.testimonios{
	ul{
		height: 100px;
		overflow: hidden;
		span.quotation{
			position: relative;
			top: 6px;
		}
	}
	@extend .span3
}
.footer2{
	background-color: #e8d1a4;
	height: 53px;
}