#content{
	width: 940px;
	margin: 100px auto;
	text-align: center;
	font-family: Sans-Serif;
	font-size: 26px;
	color: #7e1c29;
}

.mail{
	a{
		color: #7e3d46;
		text-decoration: none;
		&:hover{
			color: #7e1c29;
			text-decoration: underline;
		}
	}
}